################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VacationMachine.Repository/bin/
/VacationMachine.Services/bin/
/VacationMachine.Repository/obj/
/VacationMachine.Services/obj/
